@import url('https://fonts.googleapis.com/css2?family=Muli&display=swap');

* {
	/* padding etc will not change the widh of the element */
	box-sizing: border-box;
}
body {
	font-family: 'Muli', sans-serif;
	display: flex;
	flex-direction: column;
	/* align cross flex direction */
	align-items: center;
	/* align in flex direction, eight is needed */
	justify-content: center;
	/* entire height of browser */
	height: 100vh;
	margin: 0;
}

.container {
	display: flex;
	width: 90vw;
	border: 2px solid blue;
}

.panel {
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 80vh;
	border-radius: 50px;
	color: #00dfff;
	font-weight: bold;
	cursor: pointer;
	flex: 0.5;
	margin: 10px;
	position: relative;
	transition: flex 0.7s ease-in;
	border: 2px solid yellow;
}

.panel h3 {
	font-size: 24px;
	position: absolute;
	bottom: 20px;
	left: 20px;
	margin: 0;
	opacity: 0;
}

/* the div have both panel and active class */
.panel.active {
	flex: 5;
}

.panel.active h3 {
	opacity: 1;
	-webkit-transition: opacity 0.3s ease-in 0.4s;
	-moz-transition: opacity 0.3s ease-in 0.4s;
	-o-transition: opacity 0.3s ease-in 0.4s;
	transition: opacity 0.3s ease-in 0.4s;
}

@media (max-width: 680px) {
	.container {
		width: 100vw;
	}
	.panel:nth-of-type(4),
	.panel:nth-of-type(5) {
		display: none;
	}
}
