@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
	/* padding etc will not change the widh of the element */
	box-sizing: border-box;
}
body {
	font-family: 'Roboto', sans-serif;
	display: flex;
	flex-direction: column;
	/* align cross flex direction */
	align-items: center;
	/* align in flex direction, eight is needed */
	justify-content: center;
	/* entire height of browser */
	height: 100vh;
	/* no scrollbars */
	overflow: hidden;
	margin: 0;
	font-size: 16px;
}

.container {
	display: flex;
	flex-direction: row;
	align-items: start;
	justify-content: center;
	height: 80vh;
	margin: 10px;
}
.form-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 20px;
	border: 2px solid red;
	border-radius: 10px;
	padding: 10px;
}

input {
	font-size: 16px;
	margin: 10px;
}
p {
	color: blue;
}

button {
	font-size: 16px;
	padding: 10px;
	cursor: pointer;
}
